.popover {
  border: 1px solid rgba(230, 230, 230, 0.739);
}
.popover::after,
.popover::before {
  content: "";
  position: absolute;
  top: -41px;
  left: -1px;
  border: 20px solid transparent;
  border-bottom: 20px solid rgba(230, 230, 230, 0.739);
}

.popover::after {
  border-bottom: 20px solid white;
  top: -40px;
}

tr {
  white-space: nowrap;
}

/* .wrap {
  position: relative;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
} */

/* td {
  padding-block: 0 !important;
} */

/* td {
  padding-block: 0 !important;
} */
/* tr,
td {
  z-index: 10;
}
tr {
  white-space: nowrap;
}
td {
  padding-block: 0 !important;
}
*/
