/* img.logo 
{
  width: 350px;
}
.login-wrapper
{
  width: 350px;
  margin: 0 auto;
}
.container
{
  display: flex;
}
.image-background img
{
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  position: absolute;
  background-size: cover;
  top: 0;
  left:0;
} */
body {
  height: 100%;
}
